:root {
    --primary-color: #fffaf7;
    --secondary-color: #ff6d38;
    --accent-color: #7a78ff;
    --heading-color: #333;
    --light-color: #f9f9f9;
    --dark-color: #333;

    --btn-primary-bg: #333;
    --btn-secondary-bg: #e74c3c;
    --btn-accent-bg: #00a652;
    --btn-primary-hover-bg: #8584ff;
    --btn-secondary-hover-bg: #333;

    
    --white-color: #fff;
    --black-color: #000;
    --light-bg: #fafafa;
    --dark-bg: #a8a8a8;
    --darker-bg: #474747;

    --font-family-heading: 'Amatic SC', sans-serif;
    --border-radius: 8px;

    --shadow-sm: 0 2px 5px rgba(0, 0, 0, 0.1);
    --shadow-md: 0 3px 10px rgba(0, 0, 0, 0.1);
    --shadow-lg: 0 5px 15px rgba(0, 0, 0, 0.1);
    --shadow-xl: 0 5px 15px rgba(0, 0, 0, 0.2);

    --section-margin: 2rem 0;
    --container-width: 90%;

    background-color: var(--white-color);
    font-family: BadComic;
    color: var(--black-color);
    font-size: 14px;
    min-width: 420px;
}

@font-face {
    font-family: Roboto;
    src: url(./assets/fonts/Roboto-VariableFont_wdth,wght.ttf);
}

@font-face {
    font-family: AmaticSC;
    src: url(./assets/fonts/AmaticSC-Regular.ttf);
}

h1, h2 {
    font-family: AmaticSC;
}

a:any-link {
    color: var(--dark-bg);
    text-decoration: none;
    cursor:pointer;
}

nav, section, footer, form, section#howto article {
    margin-bottom: 0.5rem;
    padding: 1rem;
    justify-self: center;
    text-align: justify;
    color: var(--black-color);
    box-shadow: var(--shadow-md);
}

form {
    width: 60%;
    margin-top: 6rem;
    display: flex;
    justify-self: center;
    justify-content: space-around;
    text-align: left;
    border-radius: 0.5rem;
    background-color: var(--white-color);
}
form>div {
    width: 33%;
    padding: 1rem;
}
form select, form input, form button {
    margin-top: 0.2rem;
    padding: 0.2rem 0.5rem;
    width: 100%;
}
form select, form input {
    border-radius: 0.2rem;
}
form button, #animals button {
    border-radius: 1rem;
    color: var(--white-color);
    background-color: var(--black-color);
}
#animals button {
    padding: 0.2rem 0.5rem;
}

/* NavBar */
nav {
    width: 100%;
    background-color:var(--primary-color);
}
nav>div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
nav>div div {
    margin-top: 0.5rem;
}
nav>div div:first-child {
    margin-top: 0rem;
    font-size: 1.5rem;
    font-weight: bold;
}
nav a:any-link {
    color: var(--black-color);
    margin-right: 1rem;
}
nav span span {
    color: var(--secondary-color);
}
nav img {
    width: 0.7rem ;
}
nav>div div:first-child img{
    width:1.3rem;
}
nav>div div:last-child {
    margin-top: 0.3rem;
}
nav>div div:last-child span, #button1, #button2, #button3 {
    padding: 0.5rem  1rem;
    border-radius: 1rem;
    color: var(--white-color);
    background-color: var(--btn-secondary-bg);
}
nav>div div:last-child span:hover, #button1:hover, #button2:hover, #button3:hover {
    background-color: var(--btn-primary-hover-bg);
}
#button1 {
    margin-right: 1rem;
    background-color: var(--black-color);
}
#button2 {
    margin-right: 1rem;
}
#button3 {
    background-color: var(--btn-accent-bg);
}

/* Section */
section {
    width: var(--container-width);
    text-align: center;
    background-color: var(--light-color);
}

section p {
    width: 60%;
    justify-self: center;
}

#title {
    width: 100%;
    color: var(--white-color);
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('./src/assets/img/background.jpg');
}
#title h1 {
    margin-top: 7rem;
}
#howto {
    background-color: var(--white-color);
    box-shadow: none;
}
#howto div {
    display: flex;
}
#howto h2, #howto p {
    text-align: center;
}
#howto article {
    width: 25%;
}
article {
    width: 100%;
    text-align: center;
}
article div {
    display: flex;
    justify-content: center;
}
article img {
    width: 20%;
}

/* Footer */
footer {
    color: var(--white-color);
    background-color: var(--btn-primary-bg);
}
footer img {
    padding: 0.2rem;
    margin-right: 0.5rem;
    background-color: var(--darker-bg);
    border-radius: 0.5rem;
}
footer img:hover {
    background-color: var(--btn-primary-hover-bg);
}
footer h2 {
    color: var(--secondary-color);
}
footer hr {
    color: var(--dark-bg);
    border-color: var(--dark-bg);
    background-color: var(--dark-bg);
}
footer>div:first-child {
    display: flex;
    justify-content: space-around;
}
footer>div:first-child div {
    padding: 1rem;
    width: 33%;
}
footer>div:last-child {
    text-align: center;
}

/* Links */
a:any-link:hover {
    color: var(--btn-primary-hover-bg);
}
a:any-link.active {
    color: var(--secondary-color);
}

/* Responsive */
@media (min-width:768px) {
    :root {
        font-size: 16px;
    }
}
@media (min-width:1024px) {
    :root {
        font-size: 18px;
    }
}
@media (min-width:1280px) {
    :root {
        font-size: 20px;
    }
}